@charset "ISO-8859-1";

#requests {
	
	position: fixed;
    top: 0px;
    right: 0px;
    
}

#searchTherapists {
	text-align: center;
}

/*
#searchTherapistBox {
	
	margin: auto;
	display: block;
	width: 25%;
	position: fixed;
	top: 0px;
	
	
}
*/